* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Commissioner", sans-serif;
  background: rgb(32, 27, 78);
  color: #fff;
}

.input,
.bodyContainer {
  width: 100%;
  height: auto;
}

.bodyContainer {
  gap: 3rem;
}
.contents {
  flex-grow: 1;
}

.image {
  object-fit: cover;
  width: 30%;
  border-radius: 50%;
}

@media screen and (max-width: 765px) {
  .image {
    width: 70%;
  }
}
.cutout {
  background: rgb(0, 0, 17);
  border-radius: 0.5rem;
}

.social span {
  margin-left: 1rem;
}
